<footer id="footer" >
	<p>270 Centre Street - Unit D | Holbrook, MA 02343 USA | 781.767.1877 | info@vater.com<ul class="social">
		<li><a href="http://facebook.com/VaterPercussionUSA"><i class="fa fa-facebook-square"></i></a></li>
		<li><a href="http://instagram.com/vaterdrumsticks"><i class="fa fa-instagram"></i></a></li>
		<li><a href="http://twitter.com/vaterdrumsticks"><i class="fa fa-twitter-square"></i></a></li>
		<li><a href="http://youtube.com/VaterPercussionUSA"><i class="fa fa-youtube-square"></i></a></li>
	</ul></p>
	
</footer>
