/*product page styles */
.productsMain{
  padding: 0 20px;
  margin-top: 0%;
  transition:.5s all linear;
  -moz-transition:.5s all linear;
  -webkit-transition:.5s all linear;
  position: relative;
}
.productsMain.loading{
  margin-top: 100%;
}
.productsMain .product h1{
  font-size: 1.4em;
  display: inline-block;
  margin: 0;
}
.productsMain .product{
  vertical-align: top;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  width: 30%;
  background-color: #F9F9F9;
}
.compareItems{
  background-color: #000;
  display: inline-block;
  padding: 4px 18px 0px 4px;
  margin: 4px;
  height: 130px;
  position: relative;
}
.compareHolder button{
  clear: both;
  background-color: #010c2d;
  color: #fff;
  border-radius: 4px;
  border: 0;
  font-size: 1.4em;
  padding: 10px 20px;
  margin: .3em 0;
  font-family: 'Source Sans Pro';
  font-weight: 100;
}
.compareHolder button a{
  color: #fff;
}
.compareItems h2{
  display: inline-block;
  border-bottom: 1px solid #fff;
  color: #ffcb00;
  margin: .3em;
}
.compareItems h3{
  display: inline-block;
  color: #fff;
  margin: .3em;
  font-weight: 100;
}
.compareItems .imgHolder{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  position: relative;
  left: -127px;
}
.compareItems .remove{
  color: #fff;
  font-size: 1.2em;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: -5px;
}
.product .imgHolder, .compareItems .imgHolder{
  padding: 10px 20px 0;
  background-color: #000;
  margin: 4px;
  display: inline-block;
  max-width: 100px;
}
.product .imgHolder img, .compareItems .imgHolder img{
  margin: 0px auto;
  max-width: 100%;
}
.product .details{
  display: inline-block;
}
.product .details .compare{
  display: none;
}
.product .details .compare:hover{
  cursor: pointer;
  color: #ffcb00;
}
.swap{
  display: inline-block;
}
.swap span{
  border-radius: 4px; 
  padding: 4px 8px;
  display: inline-block;
  font-size: .6em;
}
.swap .selected{
  background-color: #000;
  color: #ffcb00;
  border-radius: 4px; 
  padding: 4px 8px;
}
.productSingle #zoom{
  display: none;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 150px;
  z-index: 200;
  position: absolute;
  box-shadow: 0 0 3px rgba(0,0,0, .6);
  background-color: #fff;
}
.productStats{
  font-family: "Source Sans Pro", Helvetica, sans;
  background-color: #000;
  padding: 10px;
  color: #fff;
  position: relative;
}
.productStats h1{
  color: #fff;
  display: inline-block;
  margin: .1em 0; 
}
.productStats h3{
  color: #ffcb00;
  display: inline-block;
  font-weight: 300;
  margin: 0;
}
.productStats ul.social{
  font-size: 1.6em;
  display: inline-block;
}
.productStats ul.social li{
  display: inline-block;
}
.productStats .shareLinks{
  display: inline-block;
  right: 20px;
  position: absolute;
}
.productStats .shareLinks p{
  margin: 0;
  font-size: 1.4em;
  padding: 0;
}
.dimensions{
  display: inline-block;
  vertical-align: top;
  padding: .3em;
  border-left: 1px solid #fff;
  margin-left: 10px;
  font-size: 1.15em;
}
.dimensions li{
  margin-bottom: 5px;
}
.dimensions li .statbox{
  color: #000;
  background-color: #fff;
  font-weight: 300;
  display: inline-block;
  width: 126px;
  padding: .1em .3em;
}
.dimensions li .stat{
  display: inline-block;
  width: 60px;
  padding: 0 .4em;
}
.nameWrap{
  display: inline-block;
}
p.prodDesc{
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
}

.buyNow{
  width: 47%;
  display: inline-block;
  vertical-align: top;
}
.buyNow p{
  padding: 10px;
  margin: .3em;
}
.buyNow p a{
  color: #ffcb00;
}
.buyNow h2{
  color: #ffcb00;
  border-bottom:1px solid #000;
  margin: 10px;
  /*padding: 0 8px;*/
}
section.prodArtists{
  background-color: #010c2d;
  color: #fff;
  padding: 5px 20px;
}
section.prodArtists h2{
 font-weight: 300;
}
section.prodArtists .artist{
  width: 120px;
}
section.prodArtists .artist img{
  max-width: 100%;
}
section.prodArtists .artist a, section.prodArtists .artist a:visited{
  color: #fff;
}
.fb-comments{
  padding: 10px;
}
.productSingle .heroImage{
  padding: 80px 0;
}
.productSingle .heroImage:hover{
  cursor: zoom-in;
}
.productSingle .heroImage img{
  max-width: 100%;
}