<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="vaterDotcom" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vater Percussion</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/artists.css"/>
  <link rel="stylesheet" href="css/products.css"/>
  <link rel="stylesheet" href="css/mobile.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
   <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- <script>
      /* 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        console.log('STATE');
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>-->
</head>
<body>



  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div ng-include="'partials/header.html'"></div>
  <!--<div ng-include="'partials/results.html'" ng-if="resultsResponse"></div>-->
  <div ng-include="'partials/mobileNav.html'"></div>
  <div ng-if="loading" ng-include="'partials/loader.html'"></div>
  <div ng-view class="contentWrapper"></div>
  <div id="fb-root"></div>

  <div ng-hide="loading" ng-include="'partials/footer.html'"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=477453389032108&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--  <div>Angular seed app: v<span app-version></span></div>-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- map stuff -->

  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
  <script type="text/javascript" src="bower_components/bluebird/src/bluebird.js"></script>
  <script type="text/javascript" src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-map/ui-map.js"></script>
 
  <script src="js/env.js"></script>
  <script src="js/app.js"></script>

  <script src="js/controllers.js"></script>
  <script src="js/controllers/homepageController.js"></script>
  <script src="js/controllers/compareController.js"></script>
  <script src="js/controllers/artistController.js"></script>
  <script src="js/controllers/dealerController.js"></script>
  <script src="js/controllers/featureController.js"></script>
  <script src="js/controllers/productController.js"></script>
  <script src="js/controllers/staticController.js"></script>
  <script src="js/controllers/headerController.js"></script>
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
