<footer id="footer" >
	<p>270 Centre Street - Unit D | Holbrook, MA 02343 USA | 781.767.1877 | info@vater.com<ul class="social">
		<li><a href="http://facebook.com/VaterPercussionUSA"><i class="fa fa-facebook-square"></i></a></li>
		<li><a href="http://instagram.com/vaterdrumsticks" target="_blank"><i class="fa fa-instagram"></i></a></li>
		<li><a href="http://twitter.com/vaterdrumsticks" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
		<li><a href="http://youtube.com/VaterPercussionUSA" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
		<li><a href="http://vater.us2.list-manage.com/subscribe?u=f2422ed8dff9f1d1ab5b882d0&id=460157163d" target="_blank" alt="Subscribe To Newsletter"><i class="fa fa-envelope-square"></i></a>
	</ul></p>
	
</footer>
