<div id="header" ng-controller="headerController">
	<div class="burger"><i class="fa fa-bars"></i></div>
	<div id="logo" toggle-sidebar><img src="img/vater.svg"></div>
	<ul class="mainNav">
		<li nav-item><a href="" id="home" ng-click="setActiveTab('home');">Home</a></li>
		<li nav-item><a href="" id="products" ng-click="setActiveTab('products');">Products</a>
			<ul class="subnav hidden">
				<li ng-click="redirect('manufacturing')">Manufacturing</li>
				<li ng-click="redirect('stickselect')">Stick Selection</li>
			</ul>
		</li>
		<li nav-item><a href="" id="artists" ng-click="setActiveTab('artists');">Artists</a></li>
		<li nav-item><a href="" id="dealers" ng-click="setActiveTab('dealers');">Dealers</a></li>
		<li nav-item><a href="" id="features" ng-click="setActiveTab('features');">Features</a></li>
	</ul>
</div>
