
<div ng-contoller="homepageController" class="homeWrapper">
<span ng-click="prevItem()" class="prev"><i class="fa fa-arrow-circle-left"></i></span><span ng-click="nextItem()" class="next"><i class="fa fa-arrow-circle-right"></i></span>
	<div class="heroWrapper">
		<div class="billboardItem" ng-repeat="item in billboards" ng-show="$index == activeBillboard">
			<youtube ng-if="item.type == 'video'" id="{{item.id}}" width="100%" height="480" current-time="time" controls="1"></youtube>
			<img ng-if="item.type == 'image'"  ng-src="{{item.src}}">
		</div>
		
		<!--<iframe width="100%" height="480" src="//www.youtube.com/embed/e6Oz2CQLfKA" frameborder="0" allowfullscreen></iframe>-->
	</div>
	
	<div ng-repeat="feature in features" class="featureHolder">
	<span item-type="{{feature.type}}" type="{{feature.type}}"></span>
		<a ng-href="#/features/{{feature.id}}">
			<div class="featureImg">

				<img ng-src="{{ARTIST_IMG_PATH}}{{feature.img}}">
			</div>
			<h3>{{feature.title}}</h3>
		</a>
	</div>
	<div id="featuredProd"><a ng-href="#/product/{{featuredProd.id}}">
	<img ng-src="{{featuredProd.img}}">
	<h1>{{featuredProd.name}}</h1>
	</a>
	</div>
	
	<div id="storeLocator">
		<i class="fa fa-map-marker"></i>
		<h3>Find Vater Near You</h3>
	</div>
	<div id="tweets">
		<i class="fa fa-twitter-square"></i>
		<a class="twitter-timeline" href="https://twitter.com/VaterDrumsticks" data-widget-id="377270843190964224">Tweets by @VaterDrumsticks</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div id="insta">
		<i class="fa fa-instagram"></i>
		<a ng-href="{{instaLink}}">
			<img ng-src="{{instaPic}}"/>
		</a>{{instaText}}
	</div>
	<div class="storefooter"></div>
</div>
<div id="homeBg" random-bg></div>
