<div class="homeWrapper productsMain staticMain">
<h1>Manufacturing</h1>

<iframe title="YouTube video player" class="youtube-player" type="text/html" width="100%" height="510" src="http://www.youtube.com/embed/DZkiRdx87nE" frameborder="0" allowFullScreen></iframe>

<p>
Since the early 1950's, the Vater Family has applied advances in technology to their manufacturing process to give drummers the most consistent and highest quality drumsticks in the world. The Vater Family has truly perfected the art of drumstick manufacturing, leaving the competition scrambling to keep up.
</p>

<div class="manu_block">
	<img src="http://vater.s3.amazonaws.com/assets/dowels.jpg" border="0">
	<h2>Step #1</h2>
	Each Vater Stick starts from a raw dowel. Vater accepts only the highest quality Hickory and Maple dowels with a particular moisture content reading from wood suppliers.
</div>

<div class="manu_block">
	<img src="http://vater.s3.amazonaws.com/assets/lathe.jpg" border="0">
	<h2>Step #2</h2>
	Vater's sticks are cut on back-knife lathes, set up and overseen by Ron Vater. Each stick model is turned from it's own steel knife designed to the specifications and measurements of that model.
</div>


<div class="manu_block">
	<img src="http://vater.s3.amazonaws.com/assets/sander.jpg" width="200" height="200" border="0">
	<h2>Step #3</h2>
	Each stick is then put through a delicate sanding process. With machines custom designed by Vater, each stick is evenly sanded with impeccable consistency.
</div>

<div class="manu_block">
<img src="http://vater.s3.amazonaws.com/assets/woodtips.jpg" width="200" height="200" border="0">
<h2>Step #4</h2>
The wood tips are shaped using an extremely accurate automated process. Each stick is inserted into a cylinder in which a size/shape specific Knife shapes the tip. The stick is then released leaving a perfectly shaped tip every time.
</div>


<div class="manu_block">
	<img src="http://vater.s3.amazonaws.com/assets/nylontips.jpg" width="200" height="200" border="0">
	<h2>Step #5</h2>
	Nylon tips are applied using a custom designed automated machine built exclusivley for Vater. Each stick spins while glue is applied evenly around the wood to nylon tip contact surface area. The tip is then forced on the stick with a great amount of air compression leaving it permanently "locked" on the stick.
</div>
<div class="manu_block">
	<img src="http://vater.s3.amazonaws.com/assets/tumbler.jpg" width="200" height="200" border="0">
	<h2>Step #6</h2>
	Sticks are then put in a revolving tumbler that evenly applies the sealer and finish coats. This process leaves every stick with that famous Vater finish.
</div>


<div class="manu_block">
<img src="http://vater.s3.amazonaws.com/assets/piperoll.jpg" width="200" height="200" border="0">
<h2>Step #7</h2>
Each stick is then rolled down a set of steel pipes by a quality control expert. Sticks that are warped or have a mineral streak / visual blemish are then taken out and become 2nd quality sticks. The sticks that make it through are considered 1st quality... for now.
</div>

<div class="manu_block">
<img src="http://vater.s3.amazonaws.com/assets/rollvater.jpg" width="200" height="200" border="0">
<h2>Step #8</h2>
Alan Vater then personally re-rolls each and every stick that made it through the first rolling process on a pure black surface. Alan removes every stick that he comes across that isn't 100% straight</p>
</div>


<div class="manu_block">
<img src="http://vater.s3.amazonaws.com/assets/labeler.jpg" width="200" height="200" border="0">
<h2>Step #9</h2>
Now worthy of the Vater name, the sticks are then labeled on a pad-printing machine. Silicone pads apply pressure to a self inking metal plate etched with the vater logo and model name, leaving the image on the pads. The pads then come down and apply the image to the stick.
</div>

<div class="manu_block">
<img src="http://vater.s3.amazonaws.com/assets/pitchmatch.jpg" width="200" height="200" border="0">
<h2>Step #10</h2>
Each stick is then put through Vater's computer pitch and weight matching system. The pitch and weight of each stick is recorded and the stick is placed into a designated bin. Each stick within a specific bin will have the same pitch and weight as the others in the same bin.
</div>


<div class="manu_block">
<img src="http://vater.s3.amazonaws.com/assets/colormatch.jpg" width="200" height="200" border="0">
<h2>Step #11</h2>
The sticks from each individual bin are then color matched in bar-coded sleeves, leaving a perfectly pitch and weight matched pair.
</div>

<div class="manu_block">
	<img src="http://vater.s3.amazonaws.com/assets/plasticwrap.jpg" width="200" height="200" border="0">
	<h2>Step #12</h2>
	"Bricks" of 12 pair are then shrink wrapped in plastic. This dramatically decreases the potential loss of moisture content in the sticks, keeping them straight. The sticks are now ready to be put in stock and shipped.
</div>
</div>
<div id="homeBg" random-bg></div>