<div class="homeWrapper productsMain" ng-class="{'loading':loading}">
	<h1>PRODUCTS</h1>
	Find: <input ng-model="find"> 
	Sort By: 
	<select ng-model="sortby">
		<option value="name">Name</option>
		<option value="dimensions_length">Length</option>
		<!--<option value="-dimensions_length" ng-if="sortby == '-dimensions_length'">Length</option>-->
		<option value="dimensions_diameter">Grip</option>
		<!--<option value="-dimensions_diameter" ng-if="sortby == '-dimensions_diameter'">Grip</option>-->
		<option value="category_id">Category</option>
	</select>
	<div class="swap">
		<span ng-class="{selected:!reverse}" ng-click="reverse = !reverse">Ascending</span><span ng-click="reverse = true"ng-class="{selected:reverse}">Descending</span>
	</div>
	<hr/>
	<div class="compareHolder" ng-if="compareItems.length >0">
		<div class="compareItems" ng-repeat="item in compareItems track by item.id">
			<span class="remove" ng-click="removeItem($index)"><i class="fa fa-times"></i></span>
			<h2>{{item.name}}</h2><br/>
			<h3 ng-bind-html="item.product_code"></h3>
		</div><br/>
		<button><a ng-click="viewCompare()">Compare &raquo;</a></button>
	</div>
	<div ng-repeat="product in products | filter:find | orderBy:sortby:reverse " class="product">

		<div class="imgHolder"><img ng-src="{{imgPath}}{{product.images[0].name}}_Thumb.jpg"></div>
		<div class="details">
		<a ng-href="#/product/{{product.id}}"><h1 ng-bind-html="product.name"></h1></a>
			<ul>
				<li ng-bind-html="product.product_code"></li>
				<li ng-if="product.dimensions_length && product.dimensions_diameter">{{product.dimensions_length}} | {{product.dimensions_diameter}}</li>
				<li><span class="compare" ng-click="compareThis(product)">Compare This</span></li>
				<!-- <li ng-bind-html="product.description" class="blurb">{{product.description}}</li>-->
			</ul>
		</div>
	</div>
</div>
<div id="homeBg" random-bg></div>