<div ng-controller="ProductCtrl" class="homeWrapper productsMain">
	<h1>PRODUCTS</h1>
	Find: <input ng-model="find">
	<hr/>
	{{PRODUCT_IMAGE_PATH}}
	<div ng-repeat="product in products | filter:find" class="product">

		<div class="imgHolder"><img ng-src="{{imgPath}}{{product.images[0].name}}_Thumb.jpg"></div>
		<div class="details">
		<a ng-href="#/products/{{product.id}}"><h1 ng-bind-html="product.name"></h1></a>
			<ul>
				<li ng-bind-html="product.product_code"></li>
				<li ng-if="product.dimensions_length && product.dimensions_diameter">{{product.dimensions_length}} | {{product.dimensions_diameter}}</li>
				<!-- <li ng-bind-html="product.description" class="blurb">{{product.description}}</li>-->
			</ul>
		</div>
	</div>
</div>
<div id="homeBg" random-bg></div>