<div class="homeWrapper productsMain staticMain" ng-class="{'loading':loading}">
<h1>Stick Selection</h1>
	 <youtube id="iHwB_ShHAJU" width="100%" height="480" current-time="time" controls="1"></youtube>
	<!-- <object width="100%" height="511"><param name="movie" value="http://www.youtube.com/v/iHwB_ShHAJU?fs=1&amp;hl=en_US&amp;autoplay=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/iHwB_ShHAJU?fs=1&amp;hl=en_US&amp;autoplay=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100%" height="511"></embed></object>-->
<p>	
There are several things to keep in mind while you're in search of a drumstick that will
best suit your playing style. Straightness, density, tip shape, taper, length, wood type,
diameter and balance are all key factors in how a drumstick is going to "feel" in your hands. 
You may ask yourself while looking throughout this catalog, "Why does he/she use a bunch of
different sticks?". Artists may use an assortment of models to express a particular sound or
mood in their playing that they can't get from using just one stick model. On this page,
we've given you a breakdown and explanation of all the factors to consider when you are choosing which model to use.
<p>

<h1>Point of Impact: <em>Tip Shapes</em></h1>

<p class="black">
	Tip shapes are the main factor that affects the overall sound the stick will make on drums and cymbals.
</p>					

<div class="tip_shape">
	<img src="http://vater.s3.amazonaws.com/assets/Teardrop.jpg" border="0"></td>
	<p><strong>Teardrop</strong> tips produce rich, dark tones with focused lows.</p>
</div>

<div class="tip_shape">
	<img src="http://vater.s3.amazonaws.com/assets/Barrel.jpg" border="0">
	<p><strong>Barrel</strong> tips produce a full punchy sound. Great for louder volume situations.</p>
</div>

<div class="tip_shape">
	<img src="http://vater.s3.amazonaws.com/assets/Ball.jpg" border="0">
	<p><strong>Ball </strong>tips produce a clean, bright and articulate sound.</p>
</div>

<div class="tip_shape">
	<img src="http://vater.s3.amazonaws.com/assets/Acorn.jpg" border="0">
	<p><strong>Acorn</strong> tips produce a full, fat sound. Very responsive.</p>
</div>

<div class="tip_shape">
	<img src="http://vater.s3.amazonaws.com/assets/Oval.jpg" border="0">
	<p><strong>Oval </strong>tips produce a broad, mid range sound due to tip length.</p>
</div>

<div class="tip_shape">
	<img src="http://vater.s3.amazonaws.com/assets/Nylon.jpg" border="0"><p><strong>Nylon </strong>tips produce a brighter sound than wood tip models. More durable than wood tips.</p>
</div>

<h3>Moisture Content and Wood Types</h3>

<p class="black">
Wood type and moisture content are the key elements to a drumstick's response and durability. Vater crafts their drumsticks from only the finest American Hickory and Maple available. Vater is extremely picky about the moisture content of their dowels. Too much moisture produces a stick that feels "rubbery" and that will warp quickly. Too little moisture will produce a stick that is very brittle and will break easily.
</p>

<p class="black">
Vater manufactures drumsticks from dowels that measure a particular percentage, making a stick that is very durable and will remain straighter longer. Other drumstick manufacturers opt to use dowels that measure at a lower moisture content because it will yield them a higher percentage of straight sticks from a production run, thus sacrificing quality and durability. There's an old saying that Vater has adopted in their drumstick making: "Quality not quantity".
 </p>

<p class="black">
Vater's mission has always been to produce the highest quality drumsticks on the planet. Period. Vater has set very high quality control standards during the production process. From the lathing, sanding and finishing, to tip shaping, rolling and pairing, the goal is always to produce the best quality drumsticks possible.
</p>

<h3>Hickory</h3>
<p class="black">
The most popular wood used for making drumsticks. Hickory is denser, heavier and more rigid than Maple. Hickory can also absorb a great amount of shock, which reduces hand and wrist fatigue. Dark, or "brown hickory", is found closer to the tree's center and is slightly denser and heavier than "white" hickory.
</p>

<h3>Maple</h3>
<p class="black">
A much lighter and less dense wood than hickory. Maple can provide the feel of a big stick without the extra weight of a hickory stick. Maple sticks are primarily used for light, fast playing in low volume situations.
</p>

<h1>Staying in Shape: <em>Profiles of Vater Drumsticks</em></h1>

<p class="black">
There are four main components that make up a drumstick. They are responsible for the overall feel, balance and response of the drumstick.
</p>


<p class="black">
<strong class="phone">Length</strong> Affects the balance and fulcrum point of all drumsticks. Longer sticks offer greater reach and leverage, while shorter
sticks are easier to control and tend to feel "quicker".
</p>


<p class="black">
<strong class="phone">Thickness</strong> Affects the durability and overall weight of the stick, as well as the "feel" of the stick in the hand.
Thicker sticks are more durable and heavy, while thinner models offer a lighter, more sensitive feel.
</p>


<p class="black">
<strong class="phone">Shoulder</strong> Profile affects the weight distribution of the stick, and has an effect on the sense of rebound.
</p>


<p class="black">
<strong class="phone">Taper</strong> of the shoulder affects the feel and performance of a stick. A long taper provides more flex and a greater response,
while a short taper is stiffer and offers additional strength.
</p>

<h2>Unmatched Quality Guarantee</h2>
<p class="black">
Vater guarantees their drumsticks to be straighter, more consistent and of higher quality than all other leading drumstick manufacturers. Vater's Nylon tips are guaranteed not to fall off, crack or break for the performance life span of the drumstick. 100% of Vater's drumsticks are manufactured in the USA. All Vater sticks are tone & weight matched by computer analysis.
</p>
</div>
<div id="homeBg" random-bg></div>